/node_modules
/storage/*.key
/vendor
.DS_Store
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
/data
/.docker
/public/css/
/public/js/
/public/mix-manifest.json
/coverage/
.phpstorm.meta.php
_ide_helper.php
.composer/
/cypress/videos
/cypress/screenshots
/.config/
/laravel-echo-server*.lock
/.npm/
/storage/sitemap.xml
/storage/medialibrary/temp/
/.cache/
.bash_history
/etc/log/*